01.\ С\ чего\ начинается\ Linux/manual_kernel_update
###
02\.\ Дисковая\ подсистема/logs
02\.\ Дисковая\ подсистема/otus-linux
02\.\ Дисковая\ подсистема/stand
###
# 03\.\ Файловые\ системы\ и\ LVM/
03\.\ Файловые\ системы\ и\ LVM/NewVagrant
# 04\.\ NFS\,\ FUSE/
04\.\ NFS\,\ FUSE/stand
04\.\ NFS\,\ FUSE/stand-provision/.vagrant
# 05.\ Управление\ пакетами\.\ Дистрибьюция\ софта/
05.\ Управление\ пакетами\.\ Дистрибьюция\ софта/stands-07-packages
05.\ Управление\ пакетами\.\ Дистрибьюция\ софта/toCheck/.vagrant
# 06.\ Загрузка\ системы/
# 07.\ Bash/
07\.\ Bash/stands-05-bash
# 08\.\ ZFS/
08\.\ ZFS/otus-stand
08\.\ ZFS/vdisks
08\.\ ZFS/stand/.vagrant
08\.\ ZFS/stand/*.vdi
# 09\.\ grep\,\ sed\,\ awk\ и\ другие/
# 10\.\ Инициализация\ системы\.\ Systemd/
# 11\.\ Управление\ процессами/
11\.\ Управление\ процессами/bash_Vagrantfile
11\.\ Управление\ процессами/psax
11\.\ Управление\ процессами/.vagrant
# 12\.\ Механизмы\ изоляции\ и\ аккаунтинга\ Linux\ \(namespaces\ и\ cgroups\)/
# 13\.\ Работа\ с\ памятью/
#14\.\ Пользователи\ и\ группы\.\ Авторизация\ и\ аутентификация/
14\.\ Пользователи\ и\ группы\.\ Авторизация\ и\ аутентификация/.vagrant
# 15\.\ SELinux\ -\ когда\ все\ запрещено/
15\.\ SELinux\ -\ когда\ все\ запрещено/.vagrant
15\.\ SELinux\ -\ когда\ все\ запрещено/selinux_dns_problems
# 16\.\ Автоматизация\ администрирования\.\ Ansible-1/
# 17\.\ Автоматизация\ администрирования\.\Ansible Ansible-2/
# 18\.\ Docker/
18\.\ Docker/.vagrant
# 19\.\ Docker\ -\ 2/
# 20\.\ Мониторинг\ производительности/
20\.\ Мониторинг\ производительности/.vagrant
20\.\ Мониторинг\ производительности/startup.sh
# 21\.\ Мониторинг\ и\ алертинг/
# 22\.\ Сбор\ и\ анализ\ логов/
# 23\.\ Сбор\ и\ анализ логов\ -\ 2/
# 24\.\ Резервное\ копирование/
# 25\.\ Архитектура\ сетей/
# 26\.\ DHCP,\ PXE/
# 27\.\ DNS-\ настройка\ и\ обслуживание/
# 28\.\ Фильтрация\ трафика\ -\ firewalld, iptables/
# 29\.\ Фильтрация\ трафика\ -\ nftables/
# 30\.\ LDAP.\ Централизованная\ авторизация\ и\ аутентификация/
# 31\.\ Статическая\ и\ динамическая\ маршрутизация,\ OSPF/
# 32\.\ BGP/
# 33\.\ Мосты,\ туннели\ и\ VPN/
# 34\.\ Сетевые\ пакеты.\ VLANы.\ LACP/
# 35\.\ IPv6/
# 36\.\ Веб\ сервера:\ nginx, apache/
# 37\.\ Nginx/
# 38\.\ Динамический\ веб/
# 39\.\ Почта:\ SMTP, IMAP, POP3/
# 40\.\ Mysql/
# 41\.\ PostgreSQL/
